{% extends "krishikhojapp/index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.name|as_crispy_field}}
    {{form.address|as_crispy_field}}
    {{form.contact_no|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.tractor_name|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.registration_no|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.price|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary btn-block btn-lg"><i class="fa-solid fa-plus"></i> Submit</button>
        </div>
        <div class="col-md-3">
            <a href="{% url 'tractor_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fa-solid fa-list"></i> Back To List
            </a>
        </div>
    </div>
</form>
{% endblock content %}